@charset "UTF-8";

body {
    margin: 0;
    font-family: '나눔고딕','Apple SD Gothic Neo', sans-serif;
    text-align: center;
    background-color: rgb(158, 229, 172);
}

header {
    background-color: rgb(255, 218, 53);
    position: relative;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 0;
    overflow: auto;
}

header div {
    position: relative;
    margin: 0 auto;
}

header h1 {
    color: rgb(112, 93, 57);
    font-size: 32px;
    margin: 10px;
    padding-left: 15%;
    position: absolute;
}

header button{
    color: rgb(112, 93, 57);
    font-size: 32px;
    font-family: '나눔고딕', 'Apple SD Gothic Neo', sans-serif;
    float: right;
    padding: 10px;
    margin-right: 10%;
    border:0;
    background-color: rgb(255, 218, 53);
    border-left: double 30px rgb(112, 93, 57);
}

header button:hover{
    background-color: rgb(221, 189, 46);
}

#BOX {
    display: table;
    margin: 0 auto;
}

.cleaning {
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: 10px;
    height: 250px;
    float: left;
}

.cleaning img {
    width: 100%;
    height: 80%;
}

.cleaning h1 {
    background-color: rgb(255, 218, 53);
    margin: 0;
    padding: 0;
    color: rgb(112, 93, 57);
}

.cleaning p {
    background-color: #ffffff;
    margin-top: 0;
    padding: 10px;
}

#BOX_A {
    width: 100%;
    margin: 0 auto;
}
#BOX_A .cleaning {
    width: 227px;
}

#BOX_B {
    width: 100%;
    margin: 0 auto;

    text-align: center;
}

#BOX_B .cleaning {
    display: inline-block;
    margin-top: 30px;
    width: 48.3%;
}

#BOX_B .cleaning img {
    width: 40%;
}